<!DOCTYPE html>
<html>
<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans+Condensed:300|Rock+Salt" rel="stylesheet">

<head>
  <title>Ikulele</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <header>
    <nav>
      <%= form_tag( searchresults_path, :method => "get" ) do %>
        <p class="small-8 medium-10 columns first-font">
        <%= text_field_tag :search, params[:search], placeholder: 'Search' %></p>
        <p class="small-4 medium-2 columns"><%= submit_tag "Search", class: "button third-font" %></p>
      <% end %>
    </nav>

    <div id="user-widget" class="first-font">
      <% if current_user %>
        Welcome <strong><%= current_user.name %></strong>!
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
      <% else %>
        <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
      <% end %>
    </div>
  </header>

  <main class="second-font">
    <%= yield %>
  </main>

  <footer class="first-font row">
    <p class="small-12 columns">| &copy; Miriam Cortes 2017 |</p>
    <p>This website is made from information lovingly borrowed from <%= link_to("ukulele-tabs.com","http://www.ukulele-tabs.com/", :target => "_blank") %></p>
  </footer>

</body>
</html>
