<head>
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans+Condensed:300|Rock+Salt|Inconsolata|Shadows+Into+Light+Two" rel="stylesheet">
  <link rel="shortcut icon", href="/assets/favicon.ico" >
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
</head>

<body>
  <header class="fixed row">
    <nav class="small-12 columns">
      <li class="large-3 small-3 columns header-font"><%= link_to "Home", root_path %></li>
      <li class="large-3 small-3 columns header-font"><%= link_to "All Songs", songs_path %></li>
      <li class="large-3 small-3 columns header-font"><%= link_to "All Artists", artists_path %></li>

      <!-- LOGIN DROP DOWN -->
      <li class="header-font dropdown large-3 small-3 columns">
        <% if current_user %>
          <a class="dropbtn">Hi, <%= current_user.name %>!</a>
          <div class="dropdown-content">
            <%= link_to "Favorites", favorites_path(session[:user_id]) %>
            <%= link_to "New song", new_song_path %>
            <%= link_to "Sign out", signout_path, id: "sign_out" %>
          </div>
        <% else %>
          <%= link_to "FB Sign-in", "https://ikulele.herokuapp.com/auth/facebook", id: "sign_in", class: "header-font" %>
        <% end %>
      </li>
      <div class="small-12 columns search-form">
        <%= form_tag( searchresults_path, :method => "get" ) do %>
          <div class="small-12 columns">
            <%= text_field_tag :search, params[:search], placeholder: 'Search' %>
          </div>
        <% end %>
      </div>
    </nav>
  </header>


  <main class="row header-font">

    <h1 class="small-12 columns header-font">Woohoo! You found a glitch!!</h1>
    <p class="small-12 columns header-font">
      Perhaps that song or artist was deleted. If you log in you can add the song from ukulele-tabs.com!
    </p>
    <p class="small-12 columns header-font">
      You can let me know about this error and maybe I'll even fix it!
    </p>
    <p class="small-12 columns header-font">
      If you think you've arrived at this page by accident you can email me <a href="mailto:miriam.cortes.codes@gmail.com?Subject=Whoops%20I%20found%20an%20error%20on%20ikulele" target="_top">here</a>.
    </p>
  </main>
</body>
